*{
    background-color: black;
    color: wheat;
}
section{
    text-align: center;
    /* float: left; */
}
.ab{
    text-align: center;
    /* float: left; */

}
.ab-1{
    text-align: right;
    /* float: left; */
}
header{
    text-align: left;
}
div{
    text-align: left;
}
.ab-1-1{
    text-align: left;
}
h1{
    text-align: center;
    font-family: sans-serif;
    line-height: 2;
    text-shadow: 2px 4px #ff0000;
    
}